.show-desktop{
    display: none;
}
.ridersInfo > div:first-child, #requestContainer .requestDetails{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 63px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 0.5px solid #CED9E8;;
  }

  
  .ridersInfo #requestContainer{
display: block;

  }
  .ridersInfo #requestContainer .requestDetails{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 63px;
    border-bottom: 0.5px solid #CED9E8;
    padding-left: 16px;
    padding-right: 16px;
  }
  .ridersInfo #requestContainer .requestDetails:hover{
      align-self: center;
      
background: #F2F9FF;
  }
  .ridersInfo > div:first-child{
    height: 41px;
    background: #F2F9FF;
    align-items: center;
  }
  .ridersInfo div{
      align-self: center;
  }
  .ridersInfo > div:first-child .fs14b{
    color: #282F45;
  }
  .ridersInfo .fs12b{
    color: #43495C;
  }
  .status{
      padding: 8px 10px;
      border-radius: 24px;
      width: fit-content;
  }
  .status.idle{
    background: #FFEDED;
    color: #F12A2C;
  }
  .status.ontrip{
    background: #EDFEEC;
    color: #12B413;

  }
 .actions{
    color: #0370D5;
 }
  .make_request .fs16{
    color: #fff;
  }
  .topLinks {
display: grid;
grid-template-columns: 1fr 1fr;
margin: 0 32px;
}
  .topLinks > div{
    justify-self: end;
  }
  .topLinks .custom-select{
    margin-bottom: 24px;
    justify-content: space-between;
  }
  .topLinks .custom-select :hover{
    border: none;
  }
  /* ADD TO BIGGER SCREEN TOO */
  .statistic{
    /* display: flex; */
    /* justify-content: start;  */
    margin: 0 16px;
    margin-bottom: 40px;
  }
  .statistic > div{
    width: 100%;
    max-width: 288px;
    display: flex;
    padding: 20px 24px;
    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(107, 111, 125, 0.18), -1px -1px 2px rgba(107, 111, 125, 0.18);
    border-radius: 8px;
  }

  .statistic > div:first-child{
    margin-bottom: 16px;
  }
  
  .statistic img{
    padding-right: 16px;
  }

  .statistic > div p{
    color: #034C8F;
  }
  .riders{
    display: flex;
    justify-content: start; 
    margin: 0 16px 8px;
  }
  .cover{
    width: 100%;
    max-width: 100%;
    border-radius: 0%;
    height: 100%;
    border: none;
    border-top: 0.5px solid #CED9E8;;
    padding: 0;
    margin: auto;
        }
  .emptynote{
    background: #FFFDFD;
  }
.links li:nth-child(1) {
  background-image: url(../icons/Dashboard.png);
  background-repeat: no-repeat;
  background-position: 8px 10px;
  background-size: 24px;
}

.links li:nth-child(2){
  background-image: url(../icons/Map.png);
  background-repeat: no-repeat;
  background-position: 8px 10px;
  background-size: 24px;
}
.links li:nth-child(3){
  background-image: url(../icons/Settings.png);
  background-repeat: no-repeat;
  background-position: 8px 10px;
  background-size: 24px;
}
.links li:nth-child(1).activelink {
  background-image: url(../icons/Dashboard_active.svg);
}

.links li:nth-child(2).activelink{
  background-image: url(../icons/Map_active.svg);
}

.links li:nth-child(3).activelink{
  background-image: url(../icons/Settings_active.svg);
}

/* INDEX PAGE CSS */
.editPanel{
  display: none;
  width: 139px;
  height: 88px;
  border: 0.5px solid #9B9EA9;
   box-shadow: 1px 1px 2px rgba(107, 111, 125, 0.18), -1px -1px 2px rgba(107, 111, 125, 0.18);
   border-radius: 8px;
   overflow: hidden;
   background-color: #fff;
   position: absolute;
   right: 53px;
}
.editPanel.active{
  display: block;
}
.editPanel p{
 font-family: Inter;
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 22px;
 color: #0D152E;
 height: 44px;
 align-self: center;
 padding: 11px 16px;
}
.editPanel p:hover{
 background: #F2F9FF;
}
#addRider{
  position: absolute;
  margin: auto;
}
 form{
  display: block;
  margin: auto;
  margin-top: 120px;
  width:90%;
  max-width: 436px;
  background-color: #fff;
  /* padding: 16px 24px; */
  border-radius: 16px;
}
form img{
  width: 24px;
  height: 24px;
}
#addRider, #editRider{
display: none;
position: fixed;
top: 0;
left: 0;
z-index: 10;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0, 0, 0); /* Fallback color */
background: linear-gradient(
180deg,
rgba(155, 158, 169, 0.1) 1.42%,
rgba(155, 158, 169, 0.1) 51.91%,
rgba(155, 158, 169, 0.1) 100%
);
}
.addheader{
display: flex;
justify-content: space-between;
align-content: center;
border-bottom: 1px solid #CED9E8;
padding: 16px 24px;
}
.form-control, .upload{
margin: 24px;
}
.form-control{
position: relative;
}
label{
padding-bottom: 0;
}
.click, #display{
position: relative;
display: flex;
justify-content: center;
align-items: center;
height: 44px;
background: #F9FBFE;
border: 1px dashed #9B9EA9;
border-radius: 8px;
margin-top: 8px;
}
.click > p, #display p{
 padding-left: 10px;
}
.click input{
 width: 100%;
 position: absolute;
 opacity: 0;
}
#display{
 border: 0.5px dashed #C5C9D5;
 border-radius: 8px;
 justify-content: space-between;
 padding: 0 16px;
 
background: transparent;
}
#display > div{
 display: flex;
 justify-content: flex-start;
 align-items: center;
}
.submitRider{
 background: #F9FBFE;
 text-align: center;
 padding-top: 30px;
 height: 105px;
 
}
.submitRider input{
 max-width: 328px;
 height: 44px;
 background: #0370D5;
 border-radius: 8px;
 border: none;
 font-family: Inter;
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 22px;
 color: #fff;
}
#show {
background: #fff;
position: absolute;
top: 40px;
right: 20px;
margin-right: 0;
}
/* INDEX PAGE END */
  
@media only screen and (min-width: 750px) {
  
  #show {
top: 40px;
  }
}
@media only screen and (min-width: 1024px) {
.topLinks > div{
    display: flex;
  }
  .topLinks .custom-select{
    margin-bottom: 0;
    margin-right: 32px;
    justify-content: space-between;
  }
.statistic{
    margin-left: 32px;
    margin-bottom: 40px;
    display: flex; 
    justify-content: start; 
  }
  .statistic > div:first-child{
    margin-right: 48px;
    margin-bottom: 0;
}
.show-desktop{
    display: block;
}

.ridersInfo > div:first-child, .ridersInfo #requestContainer .requestDetails{
    align-content: center;
    padding-left: 32px;
    padding-right: 32px;
  }
.riders{
    margin-left: 32px;
  }
  .riders img{
    margin-right: 8px;
  }

.cover{
    width: 100%;
    max-width: 100%;
  }
  .ridersInfo #requestContainer .requestDetails{
    display: grid;
    grid-template-columns: repeat(4,1fr) 24px;
    justify-content: space-between;
    align-content: center;
    height: 63px;
    /* padding-left: 32px;
    padding-right: 32px; */
  }
}
