/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
  font-family: 'inter';
  src: url(fonts/Inter-Black.otf);
}
@font-face {
  font-family: 'inter-bold';
  src: url(fonts/Inter-Bold.otf);
}
