 *{
     box-sizing: border-box;
 }




  .textInput, .numberInput, .selectInput, .confirmButton{
             margin: 0 16px;
             max-width: 422px;
          }
          #save{
            width: 100%;
          }
          [type="checkbox"] {
            width: 20px;
            height: 20px;
            background: #FFFFFF;
            border: 0.5px solid #9B9EA9;
            box-sizing: border-box;
            box-shadow: 1px 1px 2px rgba(107, 111, 125, 0.18), -1px -1px 2px rgba(107, 111, 125, 0.18);
            border-radius: 8px;


            background: #FFFFFF;
            border: 0.5px solid #9B9EA9;
            box-sizing: border-box;
            box-shadow: 1px 1px 2px rgba(107, 111, 125, 0.18), -1px -1px 2px rgba(107, 111, 125, 0.18);
            border-radius: 8px;
        }
 label{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  color: #000000;
  display: block;
  margin-bottom: 8px;
 }
  input::placeholder{
       color: #C5C9D5;
  }
  input, .custom-select, form input{
   background: #FFFFFF;
   border: 0.5px solid #9B9EA9;
   box-shadow: 1px 1px 2px rgba(107, 111, 125, 0.18), -1px -1px 2px rgba(107, 111, 125, 0.18);
   border-radius: 8px;
   padding: 11px 16px;
   color: #0D152E;
   font-family: Inter;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 22px;
   width: 100%;
   max-width: 422px;
        }

  input:hover{
   border: 0.5px solid #6B6F7D;
    }
        
  input.selected{
    border: 1px solid #0230B1;
        }
  input.wrong, input.wrong:hover{
    border: 1px solid #DE350B;
    }
 input[disabled]{
    background: #F9FBFE;
  }
 .wrong{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #DE350B;
    }


        input[number]{
            appearance: none;
            -webkit-appearance: none;
            -ms-appearance: none;
            -moz-appearance: none;
        }

        /*CSS FOR NUMBER INPUT/CURRENCY*/
         .numberInput > div, .cardRange{
           
           display: flex;
            box-shadow: 1px 1px 2px rgba(107, 111, 125, 0.18), -1px -1px 2px rgba(107, 111, 125, 0.18);
             box-sizing: border-box;
             height: 44px;
               border: 0.5px solid #C5C9D5;
               border-radius: 8px;
       }
       .numberInput > div.error{
          border: 1px solid #DE350B;
          box-shadow: 0px 0px 0px 3px #FFF5F2;
       }
       .numberInput > div.error > p{
            border-right: 0.5px solid #DE350B;     
       }

        .numberInput > div.error > input{
            color: #DE350B;
       }
      
       .numberInput > div > p, .cardRange > p{
        position: absolute;
           width: 44px;
           padding: 12px 0;
           margin: 0;
           text-align: center;
           background: #F9FBFE;
           border-right: 0.5px solid #C5C9D5;
           border-radius: 8px 0px 0px 8px;
           border: 0.5px solid #C5C9D5;
           font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            /* line-height: 19px; */
            color: #0D152E;
       }
       .numberInput > div > input{
           border: none;
            box-shadow: none;
            width: 100%;
       }

             /*the container must be positioned relative:*/
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
padding: 0;
height: 42px;
 border-radius: 8px;
    border: 0.5px solid  rgba(0, 0, 0, 0.1);
    
   
}

.custom-select select {
 display: none; 
 /* hide original SELECT element:*/
 
}

.select-selected, form select {
   border-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #0D152E;
     
}

/*style the arrow inside the select element:*/
.select-selected:after, form select:after {
  position: absolute;
  content: "";
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #C5C9D5 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent  #43495C transparent;
  top: 7px;
   /*color: #C5C9D5;*/
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  /* color: #C5C9D5; */
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
}

.select-items div, .same-as-selected {
    color: #0D152E;
}
/*style items (options):*/
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 99; 
  background: #fff;
  margin-top: 8px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);

}



.header {
  /* width: 90%; */
  max-width: 270px;
  height: 43px;
  /* display: flex; */
  align-items: center;
  padding:0 4px;
  /* padding-bottom: 13px; */
  margin: 0;
  margin-top: 8px;
  margin-bottom: 24px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #0E1B43;
  /* background: #E8EDFF; */
border-radius: 8px;
}
#tab{
  background: #E8EDFF;
}
.header:first-child{
  font-size: 18px;
  line-height: 21px;
  color: #0032c9;
  border-bottom: 0.489461px solid #ced9e8;
  background: #E8EDFF;
border-radius: 8px;
}

.header a {
  font-family: Inter;
  display: inline-block;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
color: #3662DC;
  /* padding-bottom: 11.5px; */
  /* margin-right: 48px; */
  margin-top: 4px;
  padding: 8px 12px;
}
.header a:active,
#active {
  color: #0032c9;
  background: #FFFFFF;
  box-shadow: -1px -1px 1px rgba(55, 71, 79, 0.1), 1px 1px 1px rgba(55, 71, 79, 0.1);
  border-radius: 8px;
  
  margin: 4px 0px;
}
@media only screen and (min-width: 756px) {
.label{
  font-size: 16px;
  line-height: 22px;
}
}
         /*CSS FOR NUMBER INPUT/CURRENCY*/
      @media only screen and (min-width: 1024px) {
          .textInput, .numberInput{
              width: 422px;
          }
          input{
              width: 100%;
          }

      }